{% extends '__base__.html' %}

{% block body %}
<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <a class="uk-navbar-item uk-logo" href="/">等价</a>
            <li class="uk-active"><a href="/">已添加商品</a></li>
        </ul>
    </div>
    <div class="uk-navbar-right">
        {% if user %}
        <a href="/user">
            <span class="uk-icon uk-navbar-toggle" uk-icon="icon: cog" />
        </a>
        <a href="/logout">
            <span class="uk-icon uk-navbar-toggle" uk-icon="icon: sign-out" />
        </a>
        {% else %}
        <a href="/login" >
            <span class="uk-icon uk-navbar-toggle" uk-icon="icon: sign-in" />
        </a>
        {% endif %}
    </div>
</nav>
<div class="uk-container uk-container-center uk-padding">
    {% block content %}
    {% endblock %}
</div>
{% endblock %}