{% extends '__index_nav__.html' %}

{% block title %}等价 - 用户中心{% endblock %}

{% block beforehead %}
<style type="text/css">
.uk-form-horizontal .uk-form-label {
    width: 150px;
}
.user-detail .uk-form-label {
    margin-top: 0px;
}
.uk-form-horizontal .uk-form-controls {
    margin-left: 165px;
}
</style>
<script>
window.onload = function() {
    var user = new Vue({
        el: '#user-view',
        data: {
            showingContent: 'detail',
            oldPassword: '',
            password: '',
            password2: '',
            errorMsg: '',
            isSuccess: false,
            notificationState: '0',
            notiErrorMsg: '',
        },
        computed: {
            showError: function() {
                return this.errorMsg != null && this.errorMsg.trim() != '';
            },
            showNotiError: function() {
                return this.notiErrorMsg != null && this.notiErrorMsg.trim() != '';
            },
        },
        methods: {
            navTo: function(navName) {
                if (navName == this.showingContent) { return; }
                this.showingContent = navName;
            },
            verifyInput: function() {
                let result = VerifyUtil.password(this.password) || VerifyUtil.comparePassword(this.password, this.password2);
                if (result) { 
                    this.errorMsg = result;
                    return false;
                } else {
                    this.errorMsg = '';
                    return true;
                }
            },
            submitNewPassword: function() {
                if (!this.verifyInput()) { return; }
                var encrypt = new JSEncrypt();
                encrypt.setPublicKey(this.$refs.publicKey.value);
                var encryptedNewPassword = encrypt.encrypt(this.password);
                var encryptedOldPassword = encrypt.encrypt(this.oldPassword);
                const data = {
                    'oldPassword': encryptedOldPassword,
                    'newPassword': encryptedNewPassword,
                };
                SignFetch.post('/api/sign/password/update', data, this.$refs.token.value).then(function(response) {
                    if (response.data.result_code != 0) {
                        user.errorMsg = response.data.msg;
                    } else {
                        user.oldPassword = '';
                        user.password = '';
                        user.password2 = '';
                        user.isSuccess = true;
                        user.errorMsg = '';
                    }
                }).catch(function(error){
                    user.errorMsg = '服务器异常';
                });
            },
            changeNotiConfig: function(notificationState) {
                if (notificationState == this.notificationState) { return; }
                this.notificationState = notificationState;
                let data = { 'notificationState': notificationState };
                SignFetch.post('/api/sign/notification_state/update', data, this.$refs.token.value).then(function(response) {
                    if (response.data.result_code != 0) {
                        user.notiErrorMsg = response.data.msg;
                    } else {
                        user.notiErrorMsg = '';
                    }
                }).catch(function(error){
                    user.notiErrorMsg = '服务器异常';
                });
            },
        },
        filters: {
            genderText: function(genderNum) {
                if (genderNum == '1') {
                    return '女';
                } else if (genderNum == '0') {
                    return '男';
                }
                return '未知';
            },
        },
    });
    user.notificationState = user.$refs.originNotiState.value;
};
</script>
{% endblock %}

{% block content %}
<div class="uk-flex" id="user-view">
    <input ref="token" type="hidden" value="{[token]}">
    <input ref="publicKey" type="hidden" value="{[public_key]}">
    <input ref="originNotiState" type="hidden" value="{[notiState]}">
    <div class="uk-width-1-4">
        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav="multiple: true">
            <li v-bind:class="{'uk-active': showingContent == 'detail'}">
                <a v-on:click="navTo('detail')" href="javascript: void(0);">个人信息</a>
            </li>
            <li v-bind:class="{'uk-active': showingContent == 'password'}">
                <a v-on:click="navTo('password')" href="javascript: void(0);">密码修改</a>
            </li>
            <li v-bind:class="{'uk-active': showingContent == 'notification'}">
                <a v-on:click="navTo('notification')" href="javascript: void(0);">推送设置</a>
            </li>
        </ul>
    </div>
    <div v-show="showingContent == 'detail'" style="flex: 1; padding-top: 5px">
        <form class="uk-form-horizontal uk-margin-large user-detail">
            <div class="uk-margin">
                <label class="uk-form-label form-label">用户名</label>
                <div class="uk-form-controls">
                    {[ user['username'] ]}
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label form-label">昵称</label>
                <div class="uk-form-controls">
                    {[ user['nickname'] ]}
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label form-label">电子邮箱</label>
                <div class="uk-form-controls">
                    {[ user['email'] ]}
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label form-label">性别</label>
                <div class="uk-form-controls">
                    {{ {[ user['gender'] ]} | genderText }}
                </div>
            </div>
        </form>
    </div>

    <div v-show="showingContent == 'password'" style="flex: 1">
        <form v-on:submit="submitNewPassword" class="uk-form-horizontal uk-margin-large" onsubmit="return false">
            <div class="uk-alert uk-alert-danger" v-show="showError">{{errorMsg}}</div>
            <div v-show="isSuccess && !showError" class="uk-alert uk-alert-success" v-show="showError">更新成功</div>
            <div class="uk-margin">
                <label class="uk-form-label form-label">旧密码</label>
                <div class="uk-form-controls">
                    <input v-model="oldPassword" class="uk-input" type="password" placeholder="请输入旧密码">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label form-label" >新密码</label>
                <div class="uk-form-controls">
                    <input v-model="password" class="uk-input" type="password" placeholder="请输入6-16位密码">
                </div>
            </div>
            <div class="uk-margin">
                <label class="uk-form-label form-label" >再次输入新密码</label>
                <div class="uk-form-controls">
                    <input v-model="password2" class="uk-input" type="password" placeholder="请再次输入6-16位密码">
                </div>
            </div>
            <div class="uk-margin">
                <button type="submit" class="uk-button uk-button-default uk-align-center">提交</button>
            </div>
        </form>
    </div>

    <div v-show="showingContent == 'notification'" style="flex: 1">
        <div class="uk-margin">
            <div class="uk-alert uk-alert-danger" v-show="showNotiError">{{notiErrorMsg}}</div>
            <label>商品价格变动时是否邮件通知我</label>
            <div style="margin-top: 15px">
                <button
                    v-on:click="changeNotiConfig('1')"
                    v-bind:class="{'uk-button-danger': notificationState == '1', 'uk-button-default': notificationState == '0'}" 
                    class="uk-button"
                    style="margin-right: 15px"
                >
                    是
                </button>
                <button
                    v-on:click="changeNotiConfig('0')"
                    v-bind:class="{'uk-button-danger': notificationState == '0', 'uk-button-default': notificationState == '1'}" 
                    class="uk-button"
                >
                    否
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
